 # Crop yield prediction using machine learning model

Crop yield prediction is an important agricultural problem. The Agricultural yield primarily depends on weather conditions (rain, temperature, etc), pesticides and accurate information about history of crop yield is an important thing for making decisions related to agricultural risk management and future predictions. The basic ingredients that sustain humans are similar. We eat a lot of corn, wheat, rice and other simple crops. In this project the prediction of top 10 most consumed yields all over the world is established by applying machine learning techniques. It consist of 10 most consumed crops. It is a regression problem

These corps include :

Cassava, Maize, Plantains and others, Potatoes, Rice, paddy, Sorghum, Soybeans, Sweet potatoes, Wheat, Yams.

In [3]:
import findspark              # importing apache spark
findspark.init()

In [4]:
import pyspark
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.getOrCreate()             # building spark session

Crops Yield Data:

After importing required libraries, crops yield of ten most consumed crops around the world was downloaded from FAO webiste.The collected data include country, item, year starting from 1961 to 2016 and yield value.

In [8]:
df = spark.read.csv('yield_df.csv',header=True, inferSchema=True)
df.show()        # displaying top 20 rows

+---+-------+-----------+----+-----------+-----------------------------+-----------------+--------+
|_c0|   Area|       Item|Year|hg/ha_yield|average_rain_fall_mm_per_year|pesticides_tonnes|avg_temp|
+---+-------+-----------+----+-----------+-----------------------------+-----------------+--------+
|  0|Albania|      Maize|1990|      36613|                       1485.0|            121.0|   16.37|
|  1|Albania|   Potatoes|1990|      66667|                       1485.0|            121.0|   16.37|
|  2|Albania|Rice, paddy|1990|      23333|                       1485.0|            121.0|   16.37|
|  3|Albania|    Sorghum|1990|      12500|                       1485.0|            121.0|   16.37|
|  4|Albania|   Soybeans|1990|       7000|                       1485.0|            121.0|   16.37|
|  5|Albania|      Wheat|1990|      30197|                       1485.0|            121.0|   16.37|
|  6|Albania|      Maize|1991|      29068|                       1485.0|            121.0|   15.36|
|  7|Albania|   Potatoes|1991|      77818|                       1485.0|            121.0|   15.36|
|  8|Albania|Rice, paddy|1991|      28538|                       1485.0|            121.0|   15.36|
|  9|Albania|    Sorghum|1991|       6667|                       1485.0|            121.0|   15.36|
| 10|Albania|   Soybeans|1991|       6066|                       1485.0|            121.0|   15.36|
| 11|Albania|      Wheat|1991|      20698|                       1485.0|            121.0|   15.36|
| 12|Albania|      Maize|1992|      24876|                       1485.0|            121.0|   16.06|
| 13|Albania|   Potatoes|1992|      82920|                       1485.0|            121.0|   16.06|
| 14|Albania|Rice, paddy|1992|      40000|                       1485.0|            121.0|   16.06|
| 15|Albania|    Sorghum|1992|       3747|                       1485.0|            121.0|   16.06|
| 16|Albania|   Soybeans|1992|       4507|                       1485.0|            121.0|   16.06|
| 17|Albania|      Wheat|1992|      24388|                       1485.0|            121.0|   16.06|
| 18|Albania|      Maize|1993|      24185|                       1485.0|            121.0|   16.05|
| 19|Albania|   Potatoes|1993|      98446|                       1485.0|            121.0|   16.05|
+---+-------+-----------+----+-----------+-----------------------------+-----------------+--------+
only showing top 20 rows

In [9]:
df.show(5)        #displaying top 5 rows

+---+-------+-----------+----+-----------+-----------------------------+-----------------+--------+
|_c0|   Area|       Item|Year|hg/ha_yield|average_rain_fall_mm_per_year|pesticides_tonnes|avg_temp|
+---+-------+-----------+----+-----------+-----------------------------+-----------------+--------+
|  0|Albania|      Maize|1990|      36613|                       1485.0|            121.0|   16.37|
|  1|Albania|   Potatoes|1990|      66667|                       1485.0|            121.0|   16.37|
|  2|Albania|Rice, paddy|1990|      23333|                       1485.0|            121.0|   16.37|
|  3|Albania|    Sorghum|1990|      12500|                       1485.0|            121.0|   16.37|
|  4|Albania|   Soybeans|1990|       7000|                       1485.0|            121.0|   16.37|
+---+-------+-----------+----+-----------+-----------------------------+-----------------+--------+
only showing top 5 rows

displaying datatypes

In [10]:
df.dtypes

[('_c0', 'int'),
 ('Area', 'string'),
 ('Item', 'string'),
 ('Year', 'int'),
 ('hg/ha_yield', 'int'),
 ('average_rain_fall_mm_per_year', 'double'),
 ('pesticides_tonnes', 'double'),
 ('avg_temp', 'double')]

Displaying  total count

In [11]:
df.count()

28242

 We can drop invalid rows while reading the dataset by setting the read mode as “DROPMALFORMED”

In [12]:
df=spark.read.option('header',True).option('mode','DROPMALFORMED').csv('yield_df.csv')

 Filling null values with 0

In [13]:
df.fillna(value=0).show()

+---+-------+-----------+----+-----------+-----------------------------+-----------------+--------+
|_c0|   Area|       Item|Year|hg/ha_yield|average_rain_fall_mm_per_year|pesticides_tonnes|avg_temp|
+---+-------+-----------+----+-----------+-----------------------------+-----------------+--------+
|  0|Albania|      Maize|1990|      36613|                       1485.0|            121.0|   16.37|
|  1|Albania|   Potatoes|1990|      66667|                       1485.0|            121.0|   16.37|
|  2|Albania|Rice, paddy|1990|      23333|                       1485.0|            121.0|   16.37|
|  3|Albania|    Sorghum|1990|      12500|                       1485.0|            121.0|   16.37|
|  4|Albania|   Soybeans|1990|       7000|                       1485.0|            121.0|   16.37|
|  5|Albania|      Wheat|1990|      30197|                       1485.0|            121.0|   16.37|
|  6|Albania|      Maize|1991|      29068|                       1485.0|            121.0|   15.36|
|  7|Albania|   Potatoes|1991|      77818|                       1485.0|            121.0|   15.36|
|  8|Albania|Rice, paddy|1991|      28538|                       1485.0|            121.0|   15.36|
|  9|Albania|    Sorghum|1991|       6667|                       1485.0|            121.0|   15.36|
| 10|Albania|   Soybeans|1991|       6066|                       1485.0|            121.0|   15.36|
| 11|Albania|      Wheat|1991|      20698|                       1485.0|            121.0|   15.36|
| 12|Albania|      Maize|1992|      24876|                       1485.0|            121.0|   16.06|
| 13|Albania|   Potatoes|1992|      82920|                       1485.0|            121.0|   16.06|
| 14|Albania|Rice, paddy|1992|      40000|                       1485.0|            121.0|   16.06|
| 15|Albania|    Sorghum|1992|       3747|                       1485.0|            121.0|   16.06|
| 16|Albania|   Soybeans|1992|       4507|                       1485.0|            121.0|   16.06|
| 17|Albania|      Wheat|1992|      24388|                       1485.0|            121.0|   16.06|
| 18|Albania|      Maize|1993|      24185|                       1485.0|            121.0|   16.05|
| 19|Albania|   Potatoes|1993|      98446|                       1485.0|            121.0|   16.05|
+---+-------+-----------+----+-----------+-----------------------------+-----------------+--------+
only showing top 20 rows

Checking null values or not

In [14]:
from pyspark.sql.functions import col,isnan, when, count
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]
   ).show()

+---+----+----+----+-----------+-----------------------------+-----------------+--------+
|_c0|Area|Item|Year|hg/ha_yield|average_rain_fall_mm_per_year|pesticides_tonnes|avg_temp|
+---+----+----+----+-----------+-----------------------------+-----------------+--------+
|  0|   0|   0|   0|          0|                            0|                0|       0|
+---+----+----+----+-----------+-----------------------------+-----------------+--------+

Find count of null values for selected columns

In [15]:
df_Columns=["Area","Item"]
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_Columns]
   ).show()

+----+----+
|Area|Item|
+----+----+
|   0|   0|
+----+----+

We can select a specific column for analysis purpose, by passing argument count in the show we can select limited record

In [16]:
df.select('Area','Item','hg/ha_yield').show(5)

+-------+-----------+-----------+
|   Area|       Item|hg/ha_yield|
+-------+-----------+-----------+
|Albania|      Maize|      36613|
|Albania|   Potatoes|      66667|
|Albania|Rice, paddy|      23333|
|Albania|    Sorghum|      12500|
|Albania|   Soybeans|       7000|
+-------+-----------+-----------+
only showing top 5 rows

Describing the dataset using toPandas function

In [17]:
df.describe().toPandas()

,summary,_c0,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp
0,count,28242,28242,28242,28242,28242,28242,28242,28242
1,mean,14120.5,None,None,2001.5442957297641,77053.33209404434,1149.055980454642,37076.909343529136,20.542626584519553
2,stddev,8152.90748751634,None,None,7.0519052853951205,84956.61289666739,709.8121499492227,59958.78466505776,6.312050836049751
3,min,0,Albania,Cassava,1990,100,1010.0,0.04,1.3
4,max,9999,Zimbabwe,Yams,2013,9999,92.0,999.0,9.99

It is used useful in retrieving all the elements of the row from each partition

In [18]:
df.groupBy('Area').count().show()

+---------+-----+
|     Area|count|
+---------+-----+
|  Senegal|  138|
|   Sweden|   46|
|   Guyana|  124|
|  Eritrea|   80|
| Malaysia|   93|
|   Turkey|  625|
|   Malawi|  171|
|     Iraq|  276|
|  Germany|  270|
|   Rwanda|  207|
|    Sudan|   28|
|   France|  138|
|   Greece|  161|
|Sri Lanka|  184|
|  Algeria|  114|
|Argentina|  368|
|   Angola|  164|
|  Belgium|   39|
|  Ecuador|  621|
|    Qatar|   69|
+---------+-----+
only showing top 20 rows

Grouping any two column features

In [19]:
df.groupBy("Area","Item").avg().collect()

[Row(Area='Greece', Item='Rice, paddy'),
 Row(Area='Madagascar', Item='Rice, paddy'),
 Row(Area='Albania', Item='Sorghum'),
 Row(Area='Central African Republic', Item='Plantains and others'),
 Row(Area='Croatia', Item='Maize'),
 Row(Area='India', Item='Sweet potatoes'),
 Row(Area='El Salvador', Item='Maize'),
 Row(Area='Niger', Item='Sweet potatoes'),
 Row(Area='Spain', Item='Sorghum'),
 Row(Area='Latvia', Item='Wheat'),
 Row(Area='El Salvador', Item='Plantains and others'),
 Row(Area='Angola', Item='Maize'),
 Row(Area='Jamaica', Item='Plantains and others'),
 Row(Area='Mozambique', Item='Maize'),
 Row(Area='Nepal', Item='Soybeans'),
 Row(Area='Zimbabwe', Item='Maize'),
 Row(Area='Bangladesh', Item='Sorghum'),
 Row(Area='Brazil', Item='Wheat'),
 Row(Area='Saudi Arabia', Item='Potatoes'),
 Row(Area='Argentina', Item='Cassava'),
 Row(Area='Iraq', Item='Sorghum'),
 Row(Area='Japan', Item='Yams'),
 Row(Area='Namibia', Item='Wheat'),
 Row(Area='Turkey', Item='Wheat'),
 Row(Area='Zimbabwe', Item='Wheat'),
 Row(Area='Mali', Item='Rice, paddy'),
 Row(Area='Senegal', Item='Cassava'),
 Row(Area='Thailand', Item='Rice, paddy'),
 Row(Area='Cameroon', Item='Plantains and others'),
 Row(Area='India', Item='Soybeans'),
 Row(Area='Uganda', Item='Plantains and others'),
 Row(Area='Cameroon', Item='Potatoes'),
 Row(Area='Cameroon', Item='Sweet potatoes'),
 Row(Area='Qatar', Item='Potatoes'),
 Row(Area='Slovenia', Item='Maize'),
 Row(Area='Albania', Item='Soybeans'),
 Row(Area='Mozambique', Item='Rice, paddy'),
 Row(Area='Kenya', Item='Soybeans'),
 Row(Area='Niger', Item='Wheat'),
 Row(Area='Zimbabwe', Item='Soybeans'),
 Row(Area='Brazil', Item='Yams'),
 Row(Area='India', Item='Wheat'),
 Row(Area='Mauritius', Item='Sweet potatoes'),
 Row(Area='Sri Lanka', Item='Potatoes'),
 Row(Area='Bulgaria', Item='Maize'),
 Row(Area='Colombia', Item='Rice, paddy'),
 Row(Area='Madagascar', Item='Sorghum'),
 Row(Area='Montenegro', Item='Maize'),
 Row(Area='Tajikistan', Item='Wheat'),
 Row(Area='Jamaica', Item='Cassava'),
 Row(Area='Uganda', Item='Rice, paddy'),
 Row(Area='Argentina', Item='Soybeans'),
 Row(Area='Guatemala', Item='Soybeans'),
 Row(Area='Iraq', Item='Rice, paddy'),
 Row(Area='Malawi', Item='Wheat'),
 Row(Area='Tajikistan', Item='Sorghum'),
 Row(Area='Austria', Item='Sorghum'),
 Row(Area='Lithuania', Item='Maize'),
 Row(Area='Mali', Item='Yams'),
 Row(Area='Namibia', Item='Potatoes'),
 Row(Area='Thailand', Item='Sorghum'),
 Row(Area='El Salvador', Item='Cassava'),
 Row(Area='Greece', Item='Sweet potatoes'),
 Row(Area='Guinea', Item='Sorghum'),
 Row(Area='Pakistan', Item='Sorghum'),
 Row(Area='Botswana', Item='Sorghum'),
 Row(Area='Egypt', Item='Sorghum'),
 Row(Area='France', Item='Potatoes'),
 Row(Area='Uruguay', Item='Sorghum'),
 Row(Area='Uruguay', Item='Soybeans'),
 Row(Area='Belgium', Item='Maize'),
 Row(Area='Central African Republic', Item='Yams'),
 Row(Area='Morocco', Item='Sweet potatoes'),
 Row(Area='Portugal', Item='Potatoes'),
 Row(Area='Albania', Item='Rice, paddy'),
 Row(Area='Guatemala', Item='Sweet potatoes'),
 Row(Area='Zambia', Item='Sorghum'),
 Row(Area='Bahamas', Item='Cassava'),
 Row(Area='Bahamas', Item='Plantains and others'),
 Row(Area='New Zealand', Item='Sweet potatoes'),
 Row(Area='Peru', Item='Potatoes'),
 Row(Area='Bulgaria', Item='Wheat'),
 Row(Area='Cameroon', Item='Rice, paddy'),
 Row(Area='Lesotho', Item='Sorghum'),
 Row(Area='Angola', Item='Potatoes'),
 Row(Area='Canada', Item='Maize'),
 Row(Area='Greece', Item='Sorghum'),
 Row(Area='Libya', Item='Wheat'),
 Row(Area='Zambia', Item='Wheat'),
 Row(Area='Libya', Item='Potatoes'),
 Row(Area='Burundi', Item='Wheat'),
 Row(Area='Colombia', Item='Wheat'),
 Row(Area='El Salvador', Item='Potatoes'),
 Row(Area='Malawi', Item='Sorghum'),
 Row(Area='Niger', Item='Maize'),
 Row(Area='Zambia', Item='Cassava'),
 Row(Area='Guinea', Item='Cassava'),
 Row(Area='Brazil', Item='Cassava'),
 Row(Area='Denmark', Item='Wheat'),
 Row(Area='Kazakhstan', Item='Rice, paddy'),
 Row(Area='Turkey', Item='Rice, paddy'),
 Row(Area='Senegal', Item='Sorghum'),
 Row(Area='Angola', Item='Sweet potatoes'),
 Row(Area='Lesotho', Item='Wheat'),
 Row(Area='Nicaragua', Item='Potatoes'),
 Row(Area='Colombia', Item='Cassava'),
 Row(Area='Guatemala', Item='Plantains and others'),
 Row(Area='Guyana', Item='Rice, paddy'),
 Row(Area='Kazakhstan', Item='Sorghum'),
 Row(Area='Poland', Item='Soybeans'),
 Row(Area='Uganda', Item='Maize'),
 Row(Area='Madagascar', Item='Maize'),
 Row(Area='Azerbaijan', Item='Potatoes'),
 Row(Area='Norway', Item='Potatoes'),
 Row(Area='Peru', Item='Maize'),
 Row(Area='Mexico', Item='Sweet potatoes'),
 Row(Area='Burundi', Item='Rice, paddy'),
 Row(Area='Colombia', Item='Potatoes'),
 Row(Area='Colombia', Item='Yams'),
 Row(Area='Mozambique', Item='Potatoes'),
 Row(Area='Senegal', Item='Sweet potatoes'),
 Row(Area='Turkey', Item='Soybeans'),
 Row(Area='Bahamas', Item='Maize'),
 Row(Area='Japan', Item='Maize'),
 Row(Area='Burkina Faso', Item='Sorghum'),
 Row(Area='Hungary', Item='Maize'),
 Row(Area='Mali', Item='Maize'),
 Row(Area='Sri Lanka', Item='Sweet potatoes'),
 Row(Area='Japan', Item='Sweet potatoes'),
 Row(Area='Armenia', Item='Wheat'),
 Row(Area='Haiti', Item='Cassava'),
 Row(Area='Mexico', Item='Wheat'),
 Row(Area='Argentina', Item='Sorghum'),
 Row(Area='Eritrea', Item='Wheat'),
 Row(Area='Malawi', Item='Soybeans'),
 Row(Area='Greece', Item='Maize'),
 Row(Area='Mauritius', Item='Potatoes'),
 Row(Area='Dominican Republic', Item='Potatoes'),
 Row(Area='Hungary', Item='Soybeans'),
 Row(Area='Sudan', Item='Maize'),
 Row(Area='Tajikistan', Item='Rice, paddy'),
 Row(Area='Albania', Item='Wheat'),
 Row(Area='Bahrain', Item='Sweet potatoes'),
 Row(Area='Ecuador', Item='Plantains and others'),
 Row(Area='Germany', Item='Wheat'),
 Row(Area='Zimbabwe', Item='Sorghum'),
 Row(Area='Algeria', Item='Wheat'),
 Row(Area='Guinea', Item='Rice, paddy'),
 Row(Area='Guyana', Item='Cassava'),
 Row(Area='Indonesia', Item='Sweet potatoes'),
 Row(Area='Australia', Item='Sweet potatoes'),
 Row(Area='Madagascar', Item='Sweet potatoes'),
 Row(Area='Mali', Item='Sorghum'),
 Row(Area='Burundi', Item='Sweet potatoes'),
 Row(Area='France', Item='Sorghum'),
 Row(Area='Mali', Item='Sweet potatoes'),
 Row(Area='Rwanda', Item='Potatoes'),
 Row(Area='Thailand', Item='Soybeans'),
 Row(Area='Australia', Item='Sorghum'),
 Row(Area='Malawi', Item='Plantains and others'),
 Row(Area='Rwanda', Item='Soybeans'),
 Row(Area='Mauritius', Item='Maize'),
 Row(Area='Cameroon', Item='Wheat'),
 Row(Area='Ecuador', Item='Soybeans'),
 Row(Area='Angola', Item='Cassava'),
 Row(Area='Argentina', Item='Rice, paddy'),
 Row(Area='New Zealand', Item='Wheat'),
 Row(Area='Burundi', Item='Sorghum'),
 Row(Area='Hungary', Item='Rice, paddy'),
 Row(Area='Mauritania', Item='Maize'),
 Row(Area='Pakistan', Item='Potatoes'),
 Row(Area='Guinea', Item='Plantains and others'),
 Row(Area='Namibia', Item='Sorghum'),
 Row(Area='Qatar', Item='Maize'),
 Row(Area='Papua New Guinea', Item='Sorghum'),
 Row(Area='Ghana', Item='Sorghum'),
 Row(Area='Guinea', Item='Sweet potatoes'),
 Row(Area='Morocco', Item='Potatoes'),
 Row(Area='Peru', Item='Soybeans'),
 Row(Area='Qatar', Item='Wheat'),
 Row(Area='Austria', Item='Potatoes'),
 Row(Area='Mexico', Item='Potatoes'),
 Row(Area='South Africa', Item='Rice, paddy'),
 Row(Area='Guinea', Item='Potatoes'),
 Row(Area='Argentina', Item='Maize'),
 Row(Area='Burundi', Item='Potatoes'),
 Row(Area='Slovenia', Item='Potatoes'),
 Row(Area='Uruguay', Item='Rice, paddy'),
 Row(Area='Burkina Faso', Item='Rice, paddy'),
 Row(Area='Guyana', Item='Sweet potatoes'),
 Row(Area='India', Item='Potatoes'),
 Row(Area='Italy', Item='Sweet potatoes'),
 Row(Area='Spain', Item='Maize'),
 Row(Area='Jamaica', Item='Rice, paddy'),
 Row(Area='Peru', Item='Sweet potatoes'),
 Row(Area='Australia', Item='Rice, paddy'),
 Row(Area='Burkina Faso', Item='Potatoes'),
 Row(Area='Guinea', Item='Maize'),
 Row(Area='Guyana', Item='Plantains and others'),
 Row(Area='Italy', Item='Maize'),
 Row(Area='Zambia', Item='Sweet potatoes'),
 Row(Area='Peru', Item='Sorghum'),
 Row(Area='Rwanda', Item='Maize'),
 Row(Area='Turkey', Item='Maize'),
 Row(Area='Belarus', Item='Wheat'),
 Row(Area='El Salvador', Item='Soybeans'),
 Row(Area='New Zealand', Item='Potatoes'),
 Row(Area='Papua New Guinea', Item='Potatoes'),
 Row(Area='Canada', Item='Soybeans'),
 Row(Area='France', Item='Soybeans'),
 Row(Area='Kenya', Item='Rice, paddy'),
 Row(Area='Switzerland', Item='Wheat'),
 Row(Area='Uruguay', Item='Potatoes'),
 Row(Area='Belgium', Item='Potatoes'),
 Row(Area='Sweden', Item='Potatoes'),
 Row(Area='Albania', Item='Potatoes'),
 Row(Area='Italy', Item='Rice, paddy'),
 Row(Area='Netherlands', Item='Maize'),
 Row(Area='Eritrea', Item='Potatoes'),
 Row(Area='Honduras', Item='Maize'),
 Row(Area='Malaysia', Item='Cassava'),
 Row(Area='Morocco', Item='Wheat'),
 Row(Area='South Africa', Item='Sorghum'),
 Row(Area='Canada', Item='Potatoes'),
 Row(Area='Estonia', Item='Potatoes'),
 Row(Area='Mali', Item='Soybeans'),
 Row(Area='Iraq', Item='Potatoes'),
 Row(Area='Malaysia', Item='Soybeans'),
 Row(Area='Nicaragua', Item='Cassava'),
 Row(Area='Hungary', Item='Sorghum'),
 Row(Area='Tunisia', Item='Potatoes'),
 Row(Area='Argentina', Item='Potatoes'),
 Row(Area='Zimbabwe', Item='Cassava'),
 Row(Area='Nepal', Item='Maize'),
 Row(Area='Nicaragua', Item='Soybeans'),
 Row(Area='Chile', Item='Sweet potatoes'),
 Row(Area='Malawi', Item='Potatoes'),
 Row(Area='Bahamas', Item='Sweet potatoes'),
 Row(Area='Croatia', Item='Wheat'),
 Row(Area='Honduras', Item='Cassava'),
 Row(Area='Italy', Item='Wheat'),
 Row(Area='Japan', Item='Potatoes'),
 Row(Area='Lithuania', Item='Wheat'),
 Row(Area='Algeria', Item='Maize'),
 Row(Area='Lebanon', Item='Maize'),
 Row(Area='Switzerland', Item='Soybeans'),
 Row(Area='Pakistan', Item='Soybeans'),
 Row(Area='Romania', Item='Sorghum'),
 Row(Area='Croatia', Item='Soybeans'),
 Row(Area='Madagascar', Item='Cassava'),
 Row(Area='Malaysia', Item='Rice, paddy'),
 Row(Area='Tunisia', Item='Wheat'),
 Row(Area='Burundi', Item='Yams'),
 Row(Area='Malaysia', Item='Sweet potatoes'),
 Row(Area='Cameroon', Item='Soybeans'),
 Row(Area='Croatia', Item='Potatoes'),
 Row(Area='Madagascar', Item='Soybeans'),
 Row(Area='Rwanda', Item='Wheat'),
 Row(Area='Belarus', Item='Potatoes'),
 Row(Area='Dominican Republic', Item='Maize'),
 Row(Area='France', Item='Maize'),
 Row(Area='Dominican Republic', Item='Yams'),
 Row(Area='Haiti', Item='Rice, paddy'),
 Row(Area='Malawi', Item='Cassava'),
 Row(Area='Mexico', Item='Rice, paddy'),
 Row(Area='South Africa', Item='Potatoes'),
 Row(Area='Tunisia', Item='Sorghum'),
 Row(Area='Armenia', Item='Maize'),
 Row(Area='Senegal', Item='Rice, paddy'),
 Row(Area='Sri Lanka', Item='Maize'),
 Row(Area='Sri Lanka', Item='Sorghum'),
 Row(Area='Cameroon', Item='Yams'),
 Row(Area='Ecuador', Item='Maize'),
 Row(Area='Mauritania', Item='Yams'),
 Row(Area='Nicaragua', Item='Rice, paddy'),
 Row(Area='Honduras', Item='Wheat'),
 Row(Area='Romania', Item='Soybeans'),
 Row(Area='Netherlands', Item='Wheat'),
 Row(Area='Thailand', Item='Wheat'),
 Row(Area='Belarus', Item='Maize'),
 Row(Area='Guinea', Item='Yams'),
 Row(Area='Haiti', Item='Sweet potatoes'),
 Row(Area='Madagascar', Item='Wheat'),
 Row(Area='Spain', Item='Sweet potatoes'),
 Row(Area='Switzerland', Item='Potatoes'),
 Row(Area='Greece', Item='Wheat'),
 Row(Area='Senegal', Item='Maize'),
 Row(Area='Montenegro', Item='Potatoes'),
 Row(Area='Norway', Item='Wheat'),
 Row(Area='Uganda', Item='Potatoes'),
 Row(Area='Lesotho', Item='Potatoes'),
 Row(Area='Portugal', Item='Maize'),
 Row(Area='Chile', Item='Potatoes'),
 Row(Area='Egypt', Item='Soybeans'),
 Row(Area='Eritrea', Item='Maize'),
 Row(Area='Libya', Item='Maize'),
 Row(Area='Ukraine', Item='Maize'),
 Row(Area='South Africa', Item='Wheat'),
 Row(Area='Colombia', Item='Soybeans'),
 Row(Area='Egypt', Item='Wheat'),
 Row(Area='Papua New Guinea', Item='Rice, paddy'),
 Row(Area='Portugal', Item='Wheat'),
 Row(Area='India', Item='Cassava'),
 Row(Area='Italy', Item='Sorghum'),
 Row(Area='Nicaragua', Item='Yams'),
 Row(Area='Rwanda', Item='Sorghum'),
 Row(Area='Chile', Item='Wheat'),
 Row(Area='Estonia', Item='Wheat'),
 Row(Area='Germany', Item='Soybeans'),
 Row(Area='Ghana', Item='Maize'),
 Row(Area='India', Item='Sorghum'),
 Row(Area='Senegal', Item='Potatoes'),
 Row(Area='Dominican Republic', Item='Rice, paddy'),
 Row(Area='Mauritius', Item='Cassava'),
 Row(Area='Slovenia', Item='Wheat'),
 Row(Area='Zambia', Item='Potatoes'),
 Row(Area='Dominican Republic', Item='Plantains and others'),
 Row(Area='Ecuador', Item='Cassava'),
 Row(Area='Zambia', Item='Rice, paddy'),
 Row(Area='Angola', Item='Soybeans'),
 Row(Area='Austria', Item='Wheat'),
 Row(Area='Botswana', Item='Wheat'),
 Row(Area='Colombia', Item='Maize'),
 Row(Area='Dominican Republic', Item='Sorghum'),
 Row(Area='Japan', Item='Soybeans'),
 Row(Area='Lithuania', Item='Potatoes'),
 Row(Area='Haiti', Item='Sorghum'),
 Row(Area='Nicaragua', Item='Sorghum'),
 Row(Area='Cameroon', Item='Sorghum'),
 Row(Area='Iraq', Item='Wheat'),
 Row(Area='Japan', Item='Wheat'),
 Row(Area='Mauritania', Item='Potatoes'),
 Row(Area='Zambia', Item='Soybeans'),
 Row(Area='Guatemala', Item='Potatoes'),
 Row(Area='Morocco', Item='Maize'),
 Row(Area='Sudan', Item='Potatoes'),
 Row(Area='Brazil', Item='Sorghum'),
 Row(Area='Kazakhstan', Item='Maize'),
 Row(Area='Saudi Arabia', Item='Sorghum'),
 Row(Area='Thailand', Item='Cassava'),
 Row(Area='Cameroon', Item='Maize'),
 Row(Area='Canada', Item='Wheat'),
 Row(Area='Malaysia', Item='Maize'),
 Row(Area='Mozambique', Item='Sorghum'),
 Row(Area='Rwanda', Item='Cassava'),
 Row(Area='Tajikistan', Item='Maize'),
 Row(Area='Dominican Republic', Item='Sweet potatoes'),
 Row(Area='Mali', Item='Potatoes'),
 Row(Area='Uganda', Item='Sorghum'),
 Row(Area='Denmark', Item='Potatoes'),
 Row(Area='Germany', Item='Maize'),
 Row(Area='New Zealand', Item='Maize'),
 Row(Area='Pakistan', Item='Wheat'),
 Row(Area='Denmark', Item='Maize'),
 Row(Area='Mexico', Item='Cassava'),
 Row(Area='Botswana', Item='Maize'),
 Row(Area='Guyana', Item='Yams'),
 Row(Area='Kazakhstan', Item='Wheat'),
 Row(Area='Burundi', Item='Soybeans'),
 Row(Area='Egypt', Item='Potatoes'),
 Row(Area='Guatemala', Item='Maize'),
 Row(Area='Haiti', Item='Potatoes'),
 Row(Area='Mauritius', Item='Rice, paddy'),
 Row(Area='Portugal', Item='Sweet potatoes'),
 Row(Area='Portugal', Item='Rice, paddy'),
 Row(Area='Namibia', Item='Maize'),
 Row(Area='Nepal', Item='Wheat'),
 Row(Area='Sri Lanka', Item='Cassava'),
 Row(Area='Spain', Item='Soybeans'),
 Row(Area='Sudan', Item='Rice, paddy'),
 Row(Area='Kenya', Item='Potatoes'),
 Row(Area='Malawi', Item='Rice, paddy'),
 Row(Area='Pakistan', Item='Sweet potatoes'),
 Row(Area='Chile', Item='Rice, paddy'),
 Row(Area='Uruguay', Item='Sweet potatoes'),
 Row(Area='Central African Republic', Item='Sorghum'),
 Row(Area='Ecuador', Item='Rice, paddy'),
 Row(Area='Egypt', Item='Sweet potatoes'),
 Row(Area='Honduras', Item='Sweet potatoes'),
 Row(Area='Mauritania', Item='Sweet potatoes'),
 Row(Area='South Africa', Item='Soybeans'),
 Row(Area='South Africa', Item='Sweet potatoes'),
 Row(Area='Bulgaria', Item='Potatoes'),
 Row(Area='Burkina Faso', Item='Sweet potatoes'),
 Row(Area='Egypt', Item='Rice, paddy'),
 Row(Area='Romania', Item='Rice, paddy'),
 Row(Area='Saudi Arabia', Item='Maize'),
 Row(Area='Slovenia', Item='Soybeans'),
 Row(Area='Australia', Item='Wheat'),
 Row(Area='Belgium', Item='Wheat'),
 Row(Area='Guatemala', Item='Rice, paddy'),
 Row(Area='Bangladesh', Item='Soybeans'),
 Row(Area='Brazil', Item='Maize'),
 Row(Area='Greece', Item='Soybeans'),
 Row(Area='Sweden', Item='Wheat'),
 Row(Area='Brazil', Item='Rice, paddy'),
 Row(Area='Chile', Item='Maize'),
 Row(Area='Guatemala', Item='Wheat'),
 Row(Area='Mauritania', Item='Rice, paddy'),
 Row(Area='Uruguay', Item='Wheat'),
 Row(Area='Azerbaijan', Item='Rice, paddy'),
 Row(Area='Jamaica', Item='Yams'),
 Row(Area='Mozambique', Item='Sweet potatoes'),
 Row(Area='Tajikistan', Item='Potatoes'),
 Row(Area='Uganda', Item='Wheat'),
 Row(Area='Austria', Item='Soybeans'),
 Row(Area='Colombia', Item='Plantains and others'),
 Row(Area='Greece', Item='Potatoes'),
 Row(Area='Jamaica', Item='Potatoes'),
 Row(Area='Ukraine', Item='Soybeans'),
 Row(Area='Brazil', Item='Soybeans'),
 Row(Area='Egypt', Item='Maize'),
 Row(Area='El Salvador', Item='Rice, paddy'),
 Row(Area='Morocco', Item='Sorghum'),
 Row(Area='Guatemala', Item='Sorghum'),
 Row(Area='Peru', Item='Rice, paddy'),
 Row(Area='Peru', Item='Wheat'),
 Row(Area='United Kingdom', Item='Potatoes'),
 Row(Area='Honduras', Item='Potatoes'),
 Row(Area='Hungary', Item='Wheat'),
 Row(Area='Morocco', Item='Rice, paddy'),
 Row(Area='Algeria', Item='Sorghum'),
 Row(Area='Germany', Item='Potatoes'),
 Row(Area='Algeria', Item='Potatoes'),
 Row(Area='Angola', Item='Wheat'),
 Row(Area='Kazakhstan', Item='Soybeans'),
 Row(Area='Spain', Item='Rice, paddy'),
 Row(Area='Ecuador', Item='Potatoes'),
 Row(Area='Honduras', Item='Soybeans'),
 Row(Area='Mozambique', Item='Cassava'),
 Row(Area='Peru', Item='Plantains and others'),
 Row(Area='Finland', Item='Potatoes'),
 Row(Area='Honduras', Item='Sorghum'),
 Row(Area='Hungary', Item='Potatoes'),
 Row(Area='Italy', Item='Potatoes'),
 Row(Area='Nepal', Item='Potatoes'),
 Row(Area='Nepal', Item='Rice, paddy'),
 Row(Area='Niger', Item='Potatoes'),
 Row(Area='Suriname', Item='Plantains and others'),
 Row(Area='Indonesia', Item='Potatoes'),
 Row(Area='Indonesia', Item='Soybeans'),
 Row(Area='Ireland', Item='Potatoes'),
 Row(Area='Thailand', Item='Potatoes'),
 Row(Area='Ecuador', Item='Wheat'),
 Row(Area='Sudan', Item='Yams'),
 Row(Area='Bahrain', Item='Potatoes'),
 Row(Area='Indonesia', Item='Rice, paddy'),
 Row(Area='Brazil', Item='Potatoes'),
 Row(Area='Kazakhstan', Item='Potatoes'),
 Row(Area='Romania', Item='Potatoes'),
 Row(Area='Azerbaijan', Item='Soybeans'),
 Row(Area='Ukraine', Item='Sorghum'),
 Row(Area='Ukraine', Item='Wheat'),
 Row(Area='Bangladesh', Item='Sweet potatoes'),
 Row(Area='Montenegro', Item='Wheat'),
 Row(Area='Pakistan', Item='Rice, paddy'),
 Row(Area='Poland', Item='Wheat'),
 Row(Area='Ghana', Item='Plantains and others'),
 Row(Area='Guatemala', Item='Cassava'),
 Row(Area='Italy', Item='Soybeans'),
 Row(Area='Burkina Faso', Item='Soybeans'),
 Row(Area='Suriname', Item='Soybeans'),
 Row(Area='Bulgaria', Item='Sorghum'),
 Row(Area='Central African Republic', Item='Maize'),
 Row(Area='Switzerland', Item='Maize'),
 Row(Area='Burundi', Item='Cassava'),
 Row(Area='Jamaica', Item='Sweet potatoes'),
 Row(Area='Japan', Item='Rice, paddy'),
 Row(Area='Sri Lanka', Item='Rice, paddy'),
 Row(Area='Poland', Item='Maize'),
 Row(Area='Sudan', Item='Wheat'),
 Row(Area='Guyana', Item='Maize'),
 Row(Area='Iraq', Item='Soybeans'),
 Row(Area='Suriname', Item='Maize'),
 Row(Area='United Kingdom', Item='Wheat'),
 Row(Area='Angola', Item='Rice, paddy'),
 Row(Area='Cameroon', Item='Cassava'),
 Row(Area='France', Item='Rice, paddy'),
 Row(Area='India', Item='Maize'),
 Row(Area='Mauritania', Item='Wheat'),
 Row(Area='Niger', Item='Sorghum'),
 Row(Area='Ecuador', Item='Sweet potatoes'),
 Row(Area='Latvia', Item='Potatoes'),
 Row(Area='Suriname', Item='Rice, paddy'),
 Row(Area='Suriname', Item='Sweet potatoes'),
 Row(Area='Zambia', Item='Maize'),
 Row(Area='Australia', Item='Maize'),
 Row(Area='Indonesia', Item='Maize'),
 Row(Area='Rwanda', Item='Rice, paddy'),
 Row(Area='Rwanda', Item='Yams'),
 Row(Area='Uganda', Item='Cassava'),
 Row(Area='Spain', Item='Potatoes'),
 Row(Area='Australia', Item='Potatoes'),
 Row(Area='Kenya', Item='Sweet potatoes'),
 Row(Area='Zimbabwe', Item='Rice, paddy'),
 Row(Area='Bulgaria', Item='Soybeans'),
 Row(Area='Indonesia', Item='Cassava'),
 Row(Area='Mauritania', Item='Sorghum'),
 Row(Area='Uganda', Item='Soybeans'),
 Row(Area='Albania', Item='Maize'),
 Row(Area='Eritrea', Item='Sorghum'),
 Row(Area='Portugal', Item='Yams'),
 Row(Area='Thailand', Item='Maize'),

importing different types and functions

In [20]:
from pyspark.sql.types import StructField, StructType, StringType, LongType

In [21]:
import pyspark.sql.functions as F

In [22]:
df.select('Area').show(5)

+-------+
|   Area|
+-------+
|Albania|
|Albania|
|Albania|
|Albania|
|Albania|
+-------+
only showing top 5 rows

filtering

In [23]:
df.filter(F.col('Item')=='Maize').show(5)

+---+-------+-----+----+-----------+-----------------------------+-----------------+--------+
|_c0|   Area| Item|Year|hg/ha_yield|average_rain_fall_mm_per_year|pesticides_tonnes|avg_temp|
+---+-------+-----+----+-----------+-----------------------------+-----------------+--------+
|  0|Albania|Maize|1990|      36613|                       1485.0|            121.0|   16.37|
|  6|Albania|Maize|1991|      29068|                       1485.0|            121.0|   15.36|
| 12|Albania|Maize|1992|      24876|                       1485.0|            121.0|   16.06|
| 18|Albania|Maize|1993|      24185|                       1485.0|            121.0|   16.05|
| 23|Albania|Maize|1994|      25848|                       1485.0|            201.0|   16.96|
+---+-------+-----+----+-----------+-----------------------------+-----------------+--------+
only showing top 5 rows

multiple filtering

In [24]:
df.where(F.col('Item')=='Maize').where(F.col("Area")=="India").show(5)

+-----+-----+-----+----+-----------+-----------------------------+-----------------+--------+
|  _c0| Area| Item|Year|hg/ha_yield|average_rain_fall_mm_per_year|pesticides_tonnes|avg_temp|
+-----+-----+-----+----+-----------+-----------------------------+-----------------+--------+
|10524|India|Maize|1990|      15178|                       1083.0|          75000.0|   25.58|
|10525|India|Maize|1990|      15178|                       1083.0|          75000.0|   26.88|
|10526|India|Maize|1990|      15178|                       1083.0|          75000.0|   25.79|
|10527|India|Maize|1990|      15178|                       1083.0|          75000.0|    24.1|
|10528|India|Maize|1990|      15178|                       1083.0|          75000.0|   25.25|
+-----+-----+-----+----+-----------+-----------------------------+-----------------+--------+
only showing top 5 rows

Renaming some columns

In [25]:
df = df.withColumnRenamed("hg/ha_yield","Value") \
    .withColumnRenamed("average_rain_fall_mm_per_year","AvgRain") \
    .withColumnRenamed("pesticides_tonnes","PTonnes")
df.show()

+---+-------+-----------+----+-----+-------+-------+--------+
|_c0|   Area|       Item|Year|Value|AvgRain|PTonnes|avg_temp|
+---+-------+-----------+----+-----+-------+-------+--------+
|  0|Albania|      Maize|1990|36613| 1485.0|  121.0|   16.37|
|  1|Albania|   Potatoes|1990|66667| 1485.0|  121.0|   16.37|
|  2|Albania|Rice, paddy|1990|23333| 1485.0|  121.0|   16.37|
|  3|Albania|    Sorghum|1990|12500| 1485.0|  121.0|   16.37|
|  4|Albania|   Soybeans|1990| 7000| 1485.0|  121.0|   16.37|
|  5|Albania|      Wheat|1990|30197| 1485.0|  121.0|   16.37|
|  6|Albania|      Maize|1991|29068| 1485.0|  121.0|   15.36|
|  7|Albania|   Potatoes|1991|77818| 1485.0|  121.0|   15.36|
|  8|Albania|Rice, paddy|1991|28538| 1485.0|  121.0|   15.36|
|  9|Albania|    Sorghum|1991| 6667| 1485.0|  121.0|   15.36|
| 10|Albania|   Soybeans|1991| 6066| 1485.0|  121.0|   15.36|
| 11|Albania|      Wheat|1991|20698| 1485.0|  121.0|   15.36|
| 12|Albania|      Maize|1992|24876| 1485.0|  121.0|   16.06|
| 13|Albania|   Potatoes|1992|82920| 1485.0|  121.0|   16.06|
| 14|Albania|Rice, paddy|1992|40000| 1485.0|  121.0|   16.06|
| 15|Albania|    Sorghum|1992| 3747| 1485.0|  121.0|   16.06|
| 16|Albania|   Soybeans|1992| 4507| 1485.0|  121.0|   16.06|
| 17|Albania|      Wheat|1992|24388| 1485.0|  121.0|   16.06|
| 18|Albania|      Maize|1993|24185| 1485.0|  121.0|   16.05|
| 19|Albania|   Potatoes|1993|98446| 1485.0|  121.0|   16.05|
+---+-------+-----------+----+-----+-------+-------+--------+
only showing top 20 rows

In [26]:
from pyspark.sql.functions import col
from pyspark.sql.types import StringType,BooleanType,DateType, IntegerType, DoubleType

imported different functions for changing datatypes

In [27]:
df = df.withColumn("Value",col("Value").cast(IntegerType())) \
    .withColumn("AvgRain",col("AvgRain").cast(DoubleType())) \
     .withColumn("_c0",col("_c0").cast(IntegerType())) \
     .withColumn("avg_temp",col("avg_temp").cast(DoubleType())) \
     .withColumn("Year",col("Year").cast(IntegerType())) \
    .withColumn("PTonnes",col("PTonnes").cast(DoubleType()))

In [28]:
df.dtypes

[('_c0', 'int'),
 ('Area', 'string'),
 ('Item', 'string'),
 ('Year', 'int'),
 ('Value', 'int'),
 ('AvgRain', 'double'),
 ('PTonnes', 'double'),
 ('avg_temp', 'double')]

In [29]:
df.show()

+---+-------+-----------+----+-----+-------+-------+--------+
|_c0|   Area|       Item|Year|Value|AvgRain|PTonnes|avg_temp|
+---+-------+-----------+----+-----+-------+-------+--------+
|  0|Albania|      Maize|1990|36613| 1485.0|  121.0|   16.37|
|  1|Albania|   Potatoes|1990|66667| 1485.0|  121.0|   16.37|
|  2|Albania|Rice, paddy|1990|23333| 1485.0|  121.0|   16.37|
|  3|Albania|    Sorghum|1990|12500| 1485.0|  121.0|   16.37|
|  4|Albania|   Soybeans|1990| 7000| 1485.0|  121.0|   16.37|
|  5|Albania|      Wheat|1990|30197| 1485.0|  121.0|   16.37|
|  6|Albania|      Maize|1991|29068| 1485.0|  121.0|   15.36|
|  7|Albania|   Potatoes|1991|77818| 1485.0|  121.0|   15.36|
|  8|Albania|Rice, paddy|1991|28538| 1485.0|  121.0|   15.36|
|  9|Albania|    Sorghum|1991| 6667| 1485.0|  121.0|   15.36|
| 10|Albania|   Soybeans|1991| 6066| 1485.0|  121.0|   15.36|
| 11|Albania|      Wheat|1991|20698| 1485.0|  121.0|   15.36|
| 12|Albania|      Maize|1992|24876| 1485.0|  121.0|   16.06|
| 13|Albania|   Potatoes|1992|82920| 1485.0|  121.0|   16.06|
| 14|Albania|Rice, paddy|1992|40000| 1485.0|  121.0|   16.06|
| 15|Albania|    Sorghum|1992| 3747| 1485.0|  121.0|   16.06|
| 16|Albania|   Soybeans|1992| 4507| 1485.0|  121.0|   16.06|
| 17|Albania|      Wheat|1992|24388| 1485.0|  121.0|   16.06|
| 18|Albania|      Maize|1993|24185| 1485.0|  121.0|   16.05|
| 19|Albania|   Potatoes|1993|98446| 1485.0|  121.0|   16.05|
+---+-------+-----------+----+-----+-------+-------+--------+
only showing top 20 rows

Grouping different columns with their distinct feature values count

In [30]:
import pyspark.sql.functions as func 
df.groupby('Area').agg(func.expr('count(Item)')\
                              .alias('Distinct_items')).show(10)

+--------+--------------+
|    Area|Distinct_items|
+--------+--------------+
| Senegal|           138|
|  Sweden|            46|
|  Guyana|           124|
| Eritrea|            80|
|Malaysia|            93|
|  Turkey|           625|
|  Malawi|           171|
|    Iraq|           276|
| Germany|           270|
|  Rwanda|           207|
+--------+--------------+
only showing top 10 rows

using agg function displaying mean value

In [31]:
df.agg({'Value':'mean'}).collect()

[Row(avg(Value)=77053.33209404434)]


converting categorical data into numerical data using stringindexer function

In [32]:
from pyspark.ml.feature import StringIndexer        # indexing according unique values

In [33]:
indexer=StringIndexer(inputCol='Item',
                      outputCol='ItemIndex')
df=indexer.fit(df).transform(df)
df.show(5)

+---+-------+-----------+----+-----+-------+-------+--------+---------+
|_c0|   Area|       Item|Year|Value|AvgRain|PTonnes|avg_temp|ItemIndex|
+---+-------+-----------+----+-----+-------+-------+--------+---------+
|  0|Albania|      Maize|1990|36613| 1485.0|  121.0|   16.37|      1.0|
|  1|Albania|   Potatoes|1990|66667| 1485.0|  121.0|   16.37|      0.0|
|  2|Albania|Rice, paddy|1990|23333| 1485.0|  121.0|   16.37|      3.0|
|  3|Albania|    Sorghum|1990|12500| 1485.0|  121.0|   16.37|      5.0|
|  4|Albania|   Soybeans|1990| 7000| 1485.0|  121.0|   16.37|      4.0|
+---+-------+-----------+----+-----+-------+-------+--------+---------+
only showing top 5 rows

In [34]:
indexer=StringIndexer(inputCol='Area',
                      outputCol='AreaIndex')
df1=indexer.fit(df).transform(df)
df1.show(5)

+---+-------+-----------+----+-----+-------+-------+--------+---------+---------+
|_c0|   Area|       Item|Year|Value|AvgRain|PTonnes|avg_temp|ItemIndex|AreaIndex|
+---+-------+-----------+----+-----+-------+-------+--------+---------+---------+
|  0|Albania|      Maize|1990|36613| 1485.0|  121.0|   16.37|      1.0|     71.0|
|  1|Albania|   Potatoes|1990|66667| 1485.0|  121.0|   16.37|      0.0|     71.0|
|  2|Albania|Rice, paddy|1990|23333| 1485.0|  121.0|   16.37|      3.0|     71.0|
|  3|Albania|    Sorghum|1990|12500| 1485.0|  121.0|   16.37|      5.0|     71.0|
|  4|Albania|   Soybeans|1990| 7000| 1485.0|  121.0|   16.37|      4.0|     71.0|
+---+-------+-----------+----+-----+-------+-------+--------+---------+---------+
only showing top 5 rows

displaying columns

In [35]:
df.columns

['_c0',
 'Area',
 'Item',
 'Year',
 'Value',
 'AvgRain',
 'PTonnes',
 'avg_temp',
 'ItemIndex']

In [34]:
df.dtypes

[('_c0', 'int'),
 ('Area', 'string'),
 ('Item', 'string'),
 ('Year', 'int'),
 ('Value', 'int'),
 ('AvgRain', 'double'),
 ('PTonnes', 'double'),
 ('avg_temp', 'double'),
 ('ItemIndex', 'double')]




feature engineering using vectorassembler

In [37]:
from pyspark.ml.feature import VectorAssembler

In [38]:
featureassembler=VectorAssembler(inputCols=['ItemIndex','Value'], outputCol='Independent feature')

In [39]:
output=featureassembler.transform(df1)
output.show()

+---+-------+-----------+----+-----+-------+-------+--------+---------+---------+-------------------+
|_c0|   Area|       Item|Year|Value|AvgRain|PTonnes|avg_temp|ItemIndex|AreaIndex|Independent feature|
+---+-------+-----------+----+-----+-------+-------+--------+---------+---------+-------------------+
|  0|Albania|      Maize|1990|36613| 1485.0|  121.0|   16.37|      1.0|     71.0|      [1.0,36613.0]|
|  1|Albania|   Potatoes|1990|66667| 1485.0|  121.0|   16.37|      0.0|     71.0|      [0.0,66667.0]|
|  2|Albania|Rice, paddy|1990|23333| 1485.0|  121.0|   16.37|      3.0|     71.0|      [3.0,23333.0]|
|  3|Albania|    Sorghum|1990|12500| 1485.0|  121.0|   16.37|      5.0|     71.0|      [5.0,12500.0]|
|  4|Albania|   Soybeans|1990| 7000| 1485.0|  121.0|   16.37|      4.0|     71.0|       [4.0,7000.0]|
|  5|Albania|      Wheat|1990|30197| 1485.0|  121.0|   16.37|      2.0|     71.0|      [2.0,30197.0]|
|  6|Albania|      Maize|1991|29068| 1485.0|  121.0|   15.36|      1.0|     71.0|      [1.0,29068.0]|
|  7|Albania|   Potatoes|1991|77818| 1485.0|  121.0|   15.36|      0.0|     71.0|      [0.0,77818.0]|
|  8|Albania|Rice, paddy|1991|28538| 1485.0|  121.0|   15.36|      3.0|     71.0|      [3.0,28538.0]|
|  9|Albania|    Sorghum|1991| 6667| 1485.0|  121.0|   15.36|      5.0|     71.0|       [5.0,6667.0]|
| 10|Albania|   Soybeans|1991| 6066| 1485.0|  121.0|   15.36|      4.0|     71.0|       [4.0,6066.0]|
| 11|Albania|      Wheat|1991|20698| 1485.0|  121.0|   15.36|      2.0|     71.0|      [2.0,20698.0]|
| 12|Albania|      Maize|1992|24876| 1485.0|  121.0|   16.06|      1.0|     71.0|      [1.0,24876.0]|
| 13|Albania|   Potatoes|1992|82920| 1485.0|  121.0|   16.06|      0.0|     71.0|      [0.0,82920.0]|
| 14|Albania|Rice, paddy|1992|40000| 1485.0|  121.0|   16.06|      3.0|     71.0|      [3.0,40000.0]|
| 15|Albania|    Sorghum|1992| 3747| 1485.0|  121.0|   16.06|      5.0|     71.0|       [5.0,3747.0]|
| 16|Albania|   Soybeans|1992| 4507| 1485.0|  121.0|   16.06|      4.0|     71.0|       [4.0,4507.0]|
| 17|Albania|      Wheat|1992|24388| 1485.0|  121.0|   16.06|      2.0|     71.0|      [2.0,24388.0]|
| 18|Albania|      Maize|1993|24185| 1485.0|  121.0|   16.05|      1.0|     71.0|      [1.0,24185.0]|
| 19|Albania|   Potatoes|1993|98446| 1485.0|  121.0|   16.05|      0.0|     71.0|      [0.0,98446.0]|
+---+-------+-----------+----+-----+-------+-------+--------+---------+---------+-------------------+
only showing top 20 rows